:root {
    --white-color: #fff;
    --text-color: #d6d1d1;
    --black-color: #000;
    --primary-color: rgb(86, 4, 113);
    --primary-color-change: rgb(148, 0, 77);
    --time-color: rgb(218, 19, 122);
    --time-color-change: rgb(113, 43, 150);
    
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif; /* nhúng phông chữ */
}
